#
Dockerfile
.dockerignore
compose*.yml

Makefile
build.sh
chrome.sh
#
node_modules
npm-debug.log
README.md
.git

.env
#
.next/
out/
build

# testing
coverage

# misc
.DS_Store
*.pem

# debug
*-debug.log*
*-error.log*

